.landingPage {
    justify-content: center;
    text-align: center;

}

.topBannerContainer {
    width: 1400px;
    margin: auto;
    display: flex;
    justify-content: center;
    color: white;
}

@media only screen and (max-width: 768px) {
    .topBannerContainer {
        width: 100%;
        height: 500px;
        margin: 0;
        padding: 0;
    }
}

@media only screen and (max-width: 768px) {
    .playButton {
        display: none;
    }
}

.topBannerImg {
    width: 100%;
}


.topBannerText {
    position: absolute;
    top: 100px;
    left: 10%;
    margin: auto;

    /* text-align: left; */
    font-size: x-large;
    font-weight: bolder;
    /* transform: translate(-50%, -50%); */
}

@media only screen and (max-width: 768px) {
    .topBannerText {
        position: absolute;
        /* top: 0; */
        /* left: 0; */
        margin: 0;
        padding: 0;
        /* text-align: left; */
        font-size: x-large;
        font-weight: bolder;
        /* transform: translate(-50%, -50%); */
    }
}

.topBannerText h2 {
    font-size: 50px;
    font-weight: 500;
    text-align: left;
}

@media only screen and (max-width: 768px) {
    .topBannerText h2 {
        font-size: 30px;
        margin: 0;
        padding: 0;
    }
}
@media only screen and (max-width: 768px) {
    .supportCard{
        display: none;
    }
}

@media only screen and (max-width: 768px) {
    .topBannerText p {
        font-size: 20px;
    }
}

.sec2 {
    width: 1400px;
    margin: auto;
    background-image: url(https://static.consciousplanet.org/static/assets/img/bg-graphics.jpg);
}

@media only screen and (max-width: 768px) {
    .sec2 {
        width: 100%;
        margin: 0;
        padding: 0;
        /* margin: auto; */
        background-image: url(https://static.consciousplanet.org/static/assets/img/bg-graphics.jpg);
    }
}

.aboutTNT {
    display: flex;
    height: 80vh;
    align-items: center;
}

@media only screen and (max-width: 768px) {
    .aboutTNT {
        width: 100%;
        display: flex;
        height: 100%;
        align-items: center;
        margin: 0;
        padding: 0;
    }
}

.aboutTNTTextVideo {
    width: 50%;
    justify-content: center;
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-left: 150px;

}

@media only screen and (max-width: 768px) {
    .aboutTNTTextVideo {
        width: 100%;
        justify-content: center;
        display: flex;
        flex-direction: column;
        text-align: left;
        margin-left: 0px;

    }
}

.aboutText {
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin: auto; */
}


.stateData {

    width: 1400px;
    padding-bottom: 55px;
    margin: auto;
    background-image: url(https://static.consciousplanet.org/static/assets/img/4498733907_858c1a0945_o%20copy%202@2x.jpg);
}

@media only screen and (max-width: 768px) {
    .stateData {
        margin: 0;
        padding: 0;
        width: 100%;
        padding-bottom: 55px;
        margin: auto;
        background-image: url(https://static.consciousplanet.org/static/assets/img/4498733907_858c1a0945_o%20copy%202@2x.jpg);
    }
}

.stateDataTitle {
    font-size: 30px;
    font-weight: bold;
    color: white;
    padding-top: 35px;
}

@media only screen and (max-width:768px) {
    .stateDataTitle {
        width: 100%;
        font-size: 30px;
        font-weight: bold;
        color: white;
        padding-top: 35px;
        margin-left: 80px;
    }
}

.stateDataTitle {
    max-width: 50%;

}


.templeCard {
    height: 50px;
    width: 80px;
}


.templeBlock {
    display: flex;
    max-width: 65%;
    margin-left: 90px;
    padding-top: 35px;
}

@media only screen and (max-width:768px) {
    .templeBlock {
        display: flex;
        flex-direction: column;
        max-width: 100%;
        margin-left: 50px;
        padding-top: 35px;
    }
}

.templeData {
    display: flex;
    flex-direction: column;
    margin: auto 30px auto;
    align-items: flex-start;
    max-width: 50%;
}

@media only screen and (max-width:768px) {
    .templeData {
        display: flex;
        flex-direction: column;
        margin: auto;
        align-items: flex-start;
        max-width: 100%;
    }
}

.postSec {

    width: 1400px;
    height: 540px;
    margin: auto;
    display: flex;
    background-image: url(https://static.consciousplanet.org/static/assets/img/bg-graphics.jpg);

}

@media only screen and (max-width:768px) {
    .postSec {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        margin: auto;
        display: flex;
        background-image: url(https://static.consciousplanet.org/static/assets/img/bg-graphics.jpg);

    }

}

.postSecData {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin-left: 200px;
    /* justify-contepxnt: center; */
}

@media only screen and (max-width:768px) {

    .postSecData {
        /* display: flex; */
        /* flex-direction: column; */
        width: 100%;
        margin-left: 5px;
        /* margin:auto */
        /* justify-content: center; */
    }
}

.postSecTitle {
    font-size: 30px;
    font-weight: bolder;
    color: #28231e;
    margin: auto;
}

.postData {
    font-size: 20px;
    font-weight: 500;
    /* margin: auto; */
}

.storySec {
    width: 1400px;
    margin: auto;
    background-image: url(https://static.consciousplanet.org/static/assets/img/4498733907_858c1a0945_o%20copy%202@2x.jpg);
    padding: 20px 50px 20px
}

@media only screen and (max-width:768px) {
    .storySec {
        width: 100%;
        margin: 0;
        background-image: url(https://static.consciousplanet.org/static/assets/img/4498733907_858c1a0945_o%20copy%202@2x.jpg);
        padding: 0;
    }
}

.storySecTitle h1 {
    color: white;
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 10px
}

.storySecTitle div {
    color: white;
    max-width: 100%;
    font-size: small
}

/* @media only screen and (max-width:768px) {
    .storySecTitle div {}
} */

@media only screen and (max-width:768px) {
    .storySecTitle h1 {
        font-size: 30px;
        font-weight: 500;
        max-width: 100%;
        margin-bottom: 10px
    }
}

.storySecTitle {

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 80px;
    margin-bottom: 20px;
    padding: 20px;
}

@media only screen and (max-width:768px) {
    .storySecTitle {

        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-left: 80px;
        margin-bottom: 20px;
        padding: 20px;
    }

}

.templeSecImgAndTextName {
    font-size: 20px;
    font-weight: bold;
    color: rgb(0, 0, 0);
}

.templeSecImgAndTextName {
    text-align: left;
    padding: 0 10px;
}

.templeSecImgAndText {
    /* justify-content: center; */
    text-align: left;
}

.templeSecImgAndTextText {
    /* justify-content: center; */
    /* text-align: left; */
    padding: 0px 10px;
}

.text {
    font-size: 15px;
    color: white;
}

.templeSecImgAndTextText {
    font-size: 15px;
    color: rgb(0, 0, 0);
    overflow: hidden;
    /* height: 90px; */
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.templeSecImgAndText img {
    width: 35%;
}

@media only screen and (max-width:768px) {
    .templeSecImgAndText img {
        width: 100vh;
    }
}
@media only screen and (max-width:768px) {
    .count {
     
        display: none;
    }
}

.templeSecImgAndText {
    width: 1400px;
    margin: auto;
    display: flex;
    max-width: 50%;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    padding: 20px 20px 20px 10px;
    margin-bottom: 20px;
    margin-left: 80px;
}

@media only screen and (max-width:768px) {
    .templeSecImgAndText {
        width: 100%;
        margin-bottom: 5px;
        padding: 10px;
        display: flex;
        flex-direction: column;
        /* margin: auto;
       padding: auto; */


    }
}

@media only screen and (max-width:768px) {
    .templeSec{
    width: 125%;
   
    }
    
}


.youtubeVideosSec {
    width: 1400px;
    margin: auto;
    background-image: url(https://static.consciousplanet.org/static/assets/img/bg-graphics.jpg);

}

@media only screen and (max-width:768px) {
    .youtubeVideosSec {
        width: 100%;
        margin: auto;
        background-image: url(https://static.consciousplanet.org/static/assets/img/bg-graphics.jpg);
        margin: 0;
        padding: 0;
    }

}

.youtubeVideosSec h1 {
    color: black;
    font-size: 35px;
    font-weight: bold;
    text-align: left;
    padding-top: 70px;
    margin: 0 0 50px 150px;
}

@media only screen and (max-width:768px) {
    .youtubeVideosSec h1 {
        color: black;
        font-size: 30px;
        font-weight: bold;
        text-align: left;
        width: 80%;
        padding-top: 70px;
        margin: 0 0 15px 55px;
    }
}



.ReadMore {
    color: #ea8500;
}

.videoDiv {
    background-color: white;
    padding: 0px 0 10px;
    text-align: left;

}
@media only screen and (max-width:768px) {
    .videoDiv {
        background-color: white;
        padding: 0px 0 0x;
        text-align: left;
    
    }

}


.loadMoreButton {
    background-color: #764324;
    color: white;
    height: 35px;
    display: flex;
    /* width: 100%; */
    margin: auto;
    font-size: 12px;
    align-items: center;
    padding: 2px 45px;
    font-weight: bold;
    border-radius: 2px;
    background-color: #c05a1b;
    color: white;
    margin-left: 370px;
}

@media only screen and (max-width:768px) {
    .loadMoreButton {
        /* width: 100%; */
        /* margin: auto; */
        margin-left: 90px;
        /* align-items: flex-start; */
        /* display: block; */
        /* margin-left: 10px; */
    }
}

@media only screen and (max-width:768px) {
    .loadMore h3 {
        width: 25%;
    }
}

@media only screen and (max-width:768px) {
    .loadMore button {
        /* margin-left: 100px; */
    }
}

@media only screen and (max-width:768px) {
    .appealSec h1 {
        width: 100%;
        margin-left: 15px;
    }
}

.appealSec h1 {
    color: white;
    font-size: 25px;
    font-weight: bolder;
    text-align: center;
    padding: 10px;
}

.appealSec {
    width: 1400px;
    /* margin: auto; */
    /* float: left; */
    /* width: 100%; */
    margin: auto;
    background-color: #764324;
}

@media only screen and (max-width:768px) {
    .appealSec {
        width: 100%;
        /* margin: auto; */
        /* float: left; */
        /* width: 100%; */
        margin: 0;
        padding: 0;
        background-color: #764324;
    }

}

.apealLatters {
    display: flex;
    margin: 10px 100px;
}

@media only screen and (max-width:768px) {
    .apealLatters {
        display: flex;
        flex-direction: column;
        margin: 0;

    }
}

.latterHeading {
    font-size: medium;
    font-weight: bold;
    color: white;
}

@media only screen and (max-width:768px) {
    .latterHeading {
        display: flex;
        width: 100%;
    }
}


.hRAndCeSec {
    width: 1400px;
    margin: auto;
    /* float: left; */
    /* width: 100%; */
    padding-left: 150px;
    padding-right: 650px;
    padding-top: 60px;
    padding-bottom: 60px;
    background-image: url(https://static.consciousplanet.org/static/assets/img/bg-graphics.jpg);

}

@media only screen and (max-width:768px) {

    .hRAndCeSec {
        width: 100%;
        margin: 0;
        padding: 0;
        /* float: left; */
        /* width: 100%; */
        padding-left: 15px;
        padding-right: 10px;
        padding-top: 40px;
        padding-bottom: 10px;
        background-image: url(https://static.consciousplanet.org/static/assets/img/bg-graphics.jpg);

    }
}

@media only screen and (max-width:768px) {
    .hRAndCeSec h1 {
        width: 100%;

    }
}

@media only screen and (max-width:768px) {
    .hRAndCeSec {
        margin-left: 5px;

    }
}

.years {

    padding-top: 90px;
    /* justify-content: flex-start; */
    /* align-items: center; */
}

@media only screen and (max-width:768px) {
    .years {

        padding-top: 10px;
        margin: 0;
        padding: 0;
        /* justify-content: flex-start; */
        /* align-items: center; */
    }
}

@media only screen and (max-width:768px) {
    #templeHistoryDes {
        width: 55%;
    }
}
@media only screen and (max-width:768px) {
    .storySecLoadMoreButton {
        margin: 20px;
        padding: 10px;
    }
}

.content {
    margin-left: 130px;
    margin-top: -90px;
}



/* .pastGlorySec {
    float: left;
    width: 100%;
    background-color: #040404;
    padding-left: 150px;
    padding-right: 644px;
    padding-top: 60px;
    padding-bottom: 90px;
    background-image: url(https://static.consciousplanet.org/static/assets/img/bg-img.jpg);
} */




.getInTouchSec {
    width: 1400px;
    margin: auto;
    display: flex;
    flex-direction: column;
    /* float: left; */
    /* width: 100%; */
    padding-left: 150px;
    padding-right: 630px;
    padding-top: 60px;
    padding-bottom: 30px;
    background-image: url(https://static.consciousplanet.org/static/assets/img/4498733907_858c1a0945_o%20copy%202@2x.jpg);
}

.getInTouchSec h1 {
    color: white;
    font-size: 30px;

    font-weight: bolder;
    text-align: center;
}

@media only screen and (max-width:768px) {
    .getInTouchSec h1 {
        width: 100%;
        color: white;
        font-size: 30px;
        font-weight: bolder;
        text-align: center;
    }
}

@media only screen and (max-width:768px) {
    .getInTouchSec {
        width: 100%;
        margin: 0;
        padding: 0;

    }
}


@media only screen and (max-width:768px) {
    .getInTouchSec p {
        width: 100%;

    }
}

@media only screen and (max-width:768px) {
    .formBlock {
        width: 100%;

    }
}

@media only screen and (max-width:768px) {
    .formBlock input {
        width: 100%;

    }
}

@media only screen and (max-width:768px) {
    .termsAndConditionsText {
        display: none;
    }

}

@media only screen and (max-width:768px) {
    .privacyText {
        display: none;
    }

}

@media only screen and (max-width:768px) {
    .formBlock select {
        width: 100%;

    }
}

.formInput {
    margin: "10px 10px"
}

.inputClass {

    width: 445px;
    height: 50px;
    margin-bottom: 15px;
    padding-left: 20px;
    border-radius: 5px;
}

@media only screen and (max-width:768px) {
    .inputClass {

        width: 100%;
        height: 50px;
        margin-bottom: 15px;
        padding-left: 20px;
        border-radius: 5px;
    }
}



.footerSec {
    float: left;
    width: 100%;
    background-color: #000;
    padding-top: 22px;
    padding-right: calc((100% - 1110px) / 2);
    padding-left: calc((100% - 1110px) / 2);
    padding-bottom: 22px;
}

@media only screen and (max-width:768px) {
    .footerSec {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 0;
        padding: 0;
        float: none;
        /* background-color: #000; */
        /* padding-top: 22px; */
        /* padding-right: calc((100% - 1110px) / 2);
        padding-left: calc((100% - 1110px) / 2); */
        /* padding-bottom: 22px; */
    }
}


.wordLimit {

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

}


.templeTalk {
    width: 50%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px;
    margin-left: 90px;
    /* Adjust the gap as needed */
}

.templeTalk iframe {
    width: 100%;
    height: 100%;
}

@media only screen and (max-width:768px) {
    .templeTalk {
        width: 50%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 50px;
        margin-left: 15px;
    }

}

.number {
    font-size: 30px;
    font-weight: bolder;
    color: white;
}

.name {
    font-size: 20px;
    font-weight: bold;
    color: white;
}

.ReadMore {
    display: flex;
    justify-content: end;
    color: #5d2a08;
}